.content-home {
	position: relative;
	z-index: 2;
	background-color: #fff;
	margin-top: calc(100vh - 160px);
	padding: 20px $margin-mobile 40px;

	@media (min-width: 600px) {
		padding: 60px $margin-tablet 40px;
	}

	@media (min-width: 800px) {
		padding: 60px $margin-desktop 40px;
	}
}

.feature-item {
	float: left;
	margin: 0 0 60px;
	width: 100%;

	@media (min-width: 600px) {
		width: calc(30%);
	}
}

.feature-item-middle {
	@media (min-width: 600px) {
		padding: 0 5% 0;
	}	
}

.feature-image {
	width: 100%;
}

.feature-link {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	margin: 8px 0 4px;

	&:hover {
		color: #a93c96;
		border-bottom: none;
		margin-bottom: 5px;
	}
}

.feature-description {
	font-size: 14px;
	line-height: 1.4;
}
