.header {
	background-color: #fff;
	height: 50px;
	position: relative;

	@media (min-width: 800px) {
		height: 60px;
	}
}

.uw-logo {
	position: absolute;
	height: 75%;
	bottom: 0;
	left: $margin-mobile - 5px;

	@media (min-width: 600px) {
		left: $margin-tablet - 10px;
	}

	@media (min-width: 800px) {
		left: $margin-desktop - 10px;		
	}
}

.login-links-container {
	height: 40px;
	width: 100%;
	position: absolute;
	top: 50px;
	background: #fff;
	border-top: 1px solid #f1f1f1;

	@media (min-width: 600px) {
		top: 0;
		background: transparent;
		height: 50px;
	}

	@media (min-width: 800px) {
		height: 60px;
	}

}

.login-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.81rem;
	position: absolute;
	left: 9px;
	top: 13px;
	font-weight: normal;

	li {
		display: inline;
		color: #4b2d83;
	}

	li > a {
		text-decoration: none;
		color: #4b2d83;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (min-width: 600px) {
		left: auto;
		right: 108px;
		top: 16px;
	}

	@media (min-width: 800px) {
		right: 38px;
		top: 22px;
		font-weight: bold;
	}

	@media (min-width: 961px) {
		right: 38px;
		top: 14px;
	}
}

.uw-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.81rem;
	position: absolute;
	right: 38px;
	top: 32px;

	li {
		display: inline;
		color: #666;
	}

	li > a {
		color: #666;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: 960px) {
		display: none;
	}
}

.hamburger-button {
	width: 44px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 50px;
	background-image: url('images/hamburger.png');
	// background-position: 14px 14px;
	// background-size: 22px 22px;
	background-position: 11px 9px;
	background-size: 22px 22px;
	background-repeat: no-repeat;

	@media (min-width: 600px) {
		top: 0;
		width: 50px;
		height: 50px;
		background-position: 14px 14px;
		background-size: 22px 22px;
	}

	@media (min-width: 800px) {
		display: none;
	}
}

.hamburger-button-x {
	background-image: url('images/hamburger-x.png');	
}

.search-button {
	width: 44px;
	height: 40px;
	position: absolute;
	right: 44px;
	top: 50px;
	background-image: url('images/search.png');
	// background-position: 14px 14px;
	// background-size: 22px 22px;
	background-position: 11px 9px;
	background-size: 22px 22px;
	background-repeat: no-repeat;

	@media (min-width: 600px) {
		top: 0;
		right: 50px;
		width: 50px;
		height: 50px;
		background-position: 14px 14px;
		background-size: 22px 22px;
	}

	@media (min-width: 800px) {
		display: none;
	}
}
