.header {
	background-color: #fff;
	height: 50px;
	position: relative;

	@media (min-width: 800px) {
		height: 60px;
	}
}

.uw-logo {
	position: absolute;
	height: 75%;
	bottom: 0;
	left: $margin-mobile - 5px;

	@media (min-width: 600px) {
		left: $margin-tablet - 10px;
	}

	@media (min-width: 800px) {
		left: $margin-desktop - 10px;		
	}
}

.login-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.81rem;
	position: absolute;
	right: 38px;
	top: 24%;

	li {
		display: inline;
		font-weight: bold;
		color: #4b2d83;
	}

	li > a {
		text-decoration: none;
		color: #4b2d83;

		&:hover {
			text-decoration: underline;
		}
	}
}

.uw-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.81rem;
	position: absolute;
	right: 38px;
	top: 54%;

	li {
		display: inline;
		color: #666;
	}

	li > a {
		color: #666;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: 960px) {
		display: none;
	}
}

.hamburger-button {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	background-image: url('images/hamburger.png');
	background-position: 14px 14px;
	background-size: 22px 22px;
	background-repeat: no-repeat;

	@media (min-width: 800px) {
		display: none;
	}
}

.hamburger-button-x {
	background-image: url('images/hamburger-x.png');	
}
