.hero {
	position: absolute;
	width: 100%;
	z-index: -1;
	background-color: #ccc;
	background-size: cover;
	top: $header-height-mobile;
	height: calc(100% - #{$header-height-mobile});

	@media (min-width: 800px) {
		top: $header-height-desktop;
		height: calc(100% - #{$header-height-desktop});
	}
}

.hero-home {
	background-image: url('images/bg-1.jpg');
}

.soa-logo {
	width: 110px;
	position: absolute;
	top: 102px;
	left: $margin-mobile;

	@media (min-width: 600px) {
		width: 125px;
		left: $margin-tablet;
	}

	@media (min-width: 800px) {
		width: 140px;
		left: $margin-desktop;
	}
}