.soa-nav {
	position: absolute;
	top: $header-margin-bottom + $header-height-large - 12px;
	right: 60px;

	ul { 
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.nav-item {
		float: left;
		margin-right: 26px;
	}

	.first {
		font-family: 'Karla-Bold';
		font-size: 16px;
		padding: 6px 12px;

		>a {
			position: relative;
		}

		>a::after {
			content: ' +';
			color: #fff;
			position: absolute;
			right: -14px;
		}

		&:hover {
			background-color: #fff;
		
			>a::after {
				content: '';
			}

		}
	}

	.second {
		display: none;
		font-size: 14px;
		position: absolute;
		z-index: 100;
		background-color: #fff;
		padding: 8px 12px 4px 12px;
		margin-left: -12px;
		
		li {
			margin-top: 5px;
			margin-bottom: 5px;			
		}

	}

	.third {
		font-family: 'Karla';
		font-size: 14px;
		margin-left: 15px;
		margin-top: -3px;
		margin-bottom: 7px;

		li {
			margin-top: 2px;
			margin-bottom: 2px;
		}
	}

	@media (max-width: 800px) {
		display: none;
	}
}

.soa-nav-mobile {
	z-index: 3;
	background-color: #fff;
	display: none;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 8px;
	

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 2.5;
	}

	a {
		display: block;
		// color: #a93c96;
		// color: #4a2e83;
		color: #000;
		text-decoration: none;
	}
}

.nav-parent {
	padding: 2px 0;

	&::after {
		content: ' +';
	}
}	

.activated {
	&::after {
		content: ' -';
	}		
}

.hovered {
	background-color: #fff;
}

.nav-child {
	display: none;
}

.nav-level-1 {
	text-transform: uppercase;
	font-family: 'Karla-Bold';

	&:last-child {
		border-bottom: 1px solid #eee;
	}

	>li {
		border-top: 1px solid #eee;
		padding-left: $margin-small;
	}
}

ul .nav-level-2 {
	text-transform: capitalize;
	font-family: 'Karla-Bold';
	// background-color: #f3f3f3;
	font-size: 15px;

	>li {
		border-top: 1px solid #fff;
		margin-left: 20px;
		padding-left: 10px;
	}

	>li:last-of-type {
		margin-bottom: 10px;
	}
}

ul .nav-level-3 {
	text-transform: capitalize;
	font-family: 'Karla-Regular';
	// background-color: #f3f3f3;
	padding-bottom: 6px;
	font-size: 15px;

	>li {
		margin-left: 30px;
	}
}


@media (min-width: 600px) {
	.soa-nav-mobile {
		right: 0;
		width: 300px;
	}
}

