@font-face {
  font-family: 'Karla';
  src: url("fonts/Karla/Karla-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Karla';
  src: url("fonts/Karla/Karla-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Karla';
  src: url("fonts/Karla/Karla-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Karla';
  src: url("fonts/Karla/Karla-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
.clearfix {
  content: "";
  display: table;
  clear: both; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'Karla', 'Helvetica', sans-serif;
  background-color: #333; }

.header {
  background-color: #fff;
  height: 50px;
  position: relative; }
  @media (min-width: 800px) {
    .header {
      height: 60px; } }

.uw-logo {
  position: absolute;
  height: 75%;
  bottom: 0;
  left: 5px; }
  @media (min-width: 600px) {
    .uw-logo {
      left: 30px; } }
  @media (min-width: 800px) {
    .uw-logo {
      left: 75px; } }

.uw-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  position: absolute;
  right: 38px;
  top: 36%; }
  .uw-links li {
    display: inline;
    color: #999; }
  .uw-links li > a {
    color: #999; }
  @media (max-width: 960px) {
    .uw-links {
      display: none; } }

.hamburger-button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  background-image: url("images/hamburger.png");
  background-position: 14px 14px;
  background-size: 22px 22px;
  background-repeat: no-repeat; }
  @media (min-width: 800px) {
    .hamburger-button {
      display: none; } }

.hamburger-button-x {
  background-image: url("images/hamburger-x.png"); }

.soa-menu {
  background-color: #fff;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 3; }
  @media (min-width: 600px) {
    .soa-menu {
      right: 0;
      width: 300px; } }
  @media (min-width: 800px) {
    .soa-menu {
      display: block;
      width: 520px;
      background-color: transparent;
      top: 100px;
      right: 36px; } }

.soa-menu-1, .soa-menu-2, .soa-menu-3 {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.soa-menu-1 {
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 0; }

.soa-menu-2 {
  font-weight: bold;
  font-size: 15px;
  padding: 0 0 16px 30px;
  display: none; }
  @media (min-width: 800px) {
    .soa-menu-2 {
      font-size: 14px;
      position: absolute;
      background-color: #fff;
      padding: 8px 20px 8px 0; } }

.soa-menu-3 {
  font-weight: normal;
  font-size: 15px;
  padding: 0 0 12px 30px; }
  @media (min-width: 800px) {
    .soa-menu-3 {
      font-size: 14px;
      padding: 0 0 5px 20px; } }

.soa-menu-1-section {
  border-top: 1px solid #eee; }
  @media (min-width: 800px) {
    .soa-menu-1-section {
      float: left;
      border-top: none;
      margin-right: 25px; }
      .soa-menu-1-section:hover {
        background-color: #fff; }
        .soa-menu-1-section:hover .soa-menu-1-item::after {
          content: ''; } }

.soa-menu-1-item, .soa-menu-2-item, .soa-menu-3-item {
  display: block;
  color: #000;
  text-decoration: none; }

.soa-menu-1-item {
  padding: 12px 10px;
  position: relative; }
  .soa-menu-1-item::after {
    content: ' +';
    color: #000; }
  @media (min-width: 800px) {
    .soa-menu-1-item {
      padding: 8px 12px; }
      .soa-menu-1-item::after {
        position: absolute;
        right: -2px;
        color: #fff; } }

.soa-menu-1-item-expanded::after {
  content: ' -'; }

.soa-menu-2-item {
  padding: 10px 10px; }
  @media (min-width: 800px) {
    .soa-menu-2-item {
      padding: 5px 10px; }
      .soa-menu-2-item:hover {
        color: #a93c96; } }

.soa-menu-3-item {
  padding: 10px 10px; }
  @media (min-width: 800px) {
    .soa-menu-3-item {
      padding: 4px 10px; }
      .soa-menu-3-item:hover {
        color: #a93c96; } }

.soa-menu-item-mobile::after {
  content: ''; }
@media (min-width: 800px) {
  .soa-menu-item-mobile {
    display: none; } }

.hero {
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: #ccc;
  background-size: cover;
  top: 50px;
  height: calc(100% - 50px); }
  @media (min-width: 800px) {
    .hero {
      top: 60px;
      height: calc(100% - 60px); } }

.hero-home {
  background-image: url("images/bg-1.jpg"); }

.soa-logo {
  width: 110px;
  position: absolute;
  top: 112px;
  left: 10px; }
  @media (min-width: 600px) {
    .soa-logo {
      width: 125px;
      left: 40px; } }
  @media (min-width: 800px) {
    .soa-logo {
      width: 140px;
      left: 85px; } }

.content-home {
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin-top: calc(100vh - 160px);
  padding: 20px 10px 40px; }
  @media (min-width: 600px) {
    .content-home {
      padding: 60px 40px 40px; } }
  @media (min-width: 800px) {
    .content-home {
      padding: 60px 85px 40px; } }

.feature-item {
  float: left;
  margin: 0 0 60px;
  width: 100%; }
  @media (min-width: 600px) {
    .feature-item {
      width: calc(30%); } }

@media (min-width: 600px) {
  .feature-item-middle {
    padding: 0 5% 0; } }

.feature-image {
  width: 100%; }

.feature-link {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin: 8px 0 4px; }
  .feature-link:hover {
    color: #a93c96;
    border-bottom: none;
    margin-bottom: 5px; }

.feature-description {
  font-size: 14px;
  line-height: 1.4; }

.inner h1 {
  color: #4b2d83;
  font-size: 32px;
  letter-spacing: -0.5px;
  margin: 14px 0 34px; }
.inner h2 {
  font-size: 14px;
  margin: 0;
  line-height: 1.5; }
  @media (min-width: 1000px) {
    .inner h2 {
      font-size: 15px; } }
.inner h3 {
  font-size: 14px;
  line-height: 1.5;
  margin: 0; }
  @media (min-width: 1000px) {
    .inner h3 {
      font-size: 15px; } }
.inner p {
  font-size: 14px;
  margin: 0 0 21px;
  line-height: 1.5; }
  @media (min-width: 1000px) {
    .inner p {
      font-size: 15px; } }
.inner ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2; }
  @media (min-width: 800px) {
    .inner ul {
      line-height: 1.5;
      margin-bottom: 12px; } }
.inner li {
  font-size: 14px; }

.inner-breadcrumbs {
  border-bottom: 1px solid #ddd;
  padding: 14px 0;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: bold;
  width: calc(100% + 10px); }
  @media (min-width: 600px) {
    .inner-breadcrumbs {
      width: calc(100% + 20px); } }
  @media (min-width: 800px) {
    .inner-breadcrumbs {
      width: calc(100% + 40px); } }
  @media (min-width: 1000px) {
    .inner-breadcrumbs {
      width: calc(100% + 60px); } }

.inner-breadcrumb {
  color: #000;
  text-decoration: none; }
  .inner-breadcrumb:hover {
    color: #a93c96;
    text-decoration: underline; }

.content-inner-1 {
  margin-top: calc(125px + 15vh); }

.inner-1-main {
  background: #fff;
  border-top: 15px solid #000;
  margin: 0 0 8px;
  padding: 0 10px 24px;
  max-width: 550px; }
  @media (min-width: 600px) {
    .inner-1-main {
      float: left;
      margin-left: 40px;
      width: calc(100% - 40px - 8px - 240px);
      padding: 0 20px 24px; } }
  @media (min-width: 800px) {
    .inner-1-main {
      margin-left: 85px;
      width: calc(100% - 85px - 8px - 380px);
      padding: 0 40px 24px; } }
  @media (min-width: 1000px) {
    .inner-1-main {
      width: calc(100% - 85px - 8px - 490px);
      padding: 0 60px 24px; } }

@media (min-width: 600px) {
  .inner-1-sidebar {
    margin-left: 8px;
    float: left;
    width: 200px; } }
@media (min-width: 800px) {
  .inner-1-sidebar {
    margin-left: 8px;
    width: 300px; } }
@media (min-width: 1000px) {
  .inner-1-sidebar {
    width: 370px; } }

.inner-1-nav {
  background: #fff;
  margin: 0 0 8px;
  padding: 24px 10px; }
  @media (min-width: 600px) {
    .inner-1-nav {
      border-top: 15px solid #000;
      padding: 24px 20px;
      background: rgba(255, 255, 255, 0.9); } }
  @media (min-width: 800px) {
    .inner-1-nav {
      padding: 24px 30px; } }
  @media (min-width: 1000px) {
    .inner-1-nav {
      padding: 24px 40px; } }
  .inner-1-nav h2 {
    color: #4b2d83; }

.inner-nav-link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ccc; }
  .inner-nav-link:hover {
    color: #a93c96;
    border-bottom: none; }

.inner-1-info {
  background: #000;
  color: #fff;
  padding: 24px 10px; }
  .inner-1-info p {
    font-size: 14px; }
  @media (min-width: 600px) {
    .inner-1-info {
      padding: 24px 20px; } }
  @media (min-width: 800px) {
    .inner-1-info {
      padding: 24px 30px; } }
  @media (min-width: 1000px) {
    .inner-1-info {
      padding: 24px 40px; } }

.inner-info-link {
  color: #ccc; }
  .inner-info-link:hover {
    color: #a93c96; }

.footer {
  background-color: #333;
  color: #ccc;
  font-size: 12.5px;
  line-height: 18px;
  padding: 40px 10px 40px;
  clear: both; }
  .footer a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
  @media (min-width: 600px) {
    .footer {
      padding: 40px 40px 40px; } }
  @media (min-width: 800px) {
    .footer {
      padding: 40px 85px 40px; } }

.footer-social-icons {
  width: 120px; }

.footer-support-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 10px; }

.footer-section {
  box-sizing: border-box;
  float: left;
  margin: 0 0 40px;
  padding: 20px 20px 0 0; }
  @media (min-width: 600px) {
    .footer-section {
      margin: 0 0 40px; } }
  @media (min-width: 800px) {
    .footer-section {
      margin: 0 0 100px; } }

.footer-1 {
  width: 100%; }
  @media (min-width: 600px) {
    .footer-1 {
      width: 50%; } }
  @media (min-width: 800px) {
    .footer-1 {
      width: 30%; } }

.footer-2 {
  width: 100%; }
  @media (min-width: 600px) {
    .footer-2 {
      width: 50%; } }
  @media (min-width: 800px) {
    .footer-2 {
      width: 20%; } }

.footer-3 {
  width: 100%; }
  @media (min-width: 600px) {
    .footer-3 {
      width: 50%; } }
  @media (min-width: 800px) {
    .footer-3 {
      width: 25%; } }

.footer-4 {
  width: 100%; }
  @media (min-width: 600px) {
    .footer-4 {
      width: 50%; } }
  @media (min-width: 800px) {
    .footer-4 {
      width: 20%; } }

.footer-clearfix {
  clear: both; }

/*# sourceMappingURL=style.css.map */
