@font-face {
  font-family: 'Karla-Regular';
  src: url("fonts/Karla/Karla-Regular.ttf"); }
@font-face {
  font-family: 'Karla-Bold';
  src: url("fonts/Karla/Karla-Bold.ttf"); }
.clearfix {
  content: "";
  display: table;
  clear: both; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'Karla-Regular', 'Helvetica', sans-serif;
  background-color: #333; }

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Karla-Bold'; }

h1 {
  color: #4a2e83;
  font-size: 32px;
  letter-spacing: -0.5px;
  margin: 14px 0 34px; }

p, h2, h3, ul {
  line-height: 1.5;
  font-size: 14px; }

h2, h3 {
  margin: 0; }

p {
  margin: 0 0 21px; }

a {
  color: #000; }
  a:hover {
    color: #a93c96; }

header {
  height: 50px;
  background-color: #fff;
  position: relative; }
  @media (min-width: 801px) {
    header {
      height: 60px; } }

.uw-logo {
  position: absolute;
  left: 4px;
  bottom: 0;
  height: 70%;
  width: auto; }
  @media (min-width: 600px) {
    .uw-logo {
      left: 28px;
      height: 80%; } }
  @media (min-width: 801px) {
    .uw-logo {
      left: 73px; } }

ul.header-nav {
  display: none; }
  @media (min-width: 930px) {
    ul.header-nav {
      display: block;
      padding: 0;
      margin: 0;
      color: #999;
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 13px; }
      ul.header-nav li {
        display: inline; }
      ul.header-nav a {
        color: #999; } }

.hamburger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("images/hamburger.png");
  background-position: 14px 14px;
  background-size: 22px 22px;
  background-repeat: no-repeat; }
  @media (min-width: 801px) {
    .hamburger {
      display: none; } }

.hamburger-x {
  background-image: url("images/hamburger-x.png"); }

.soa-nav {
  position: absolute;
  top: 93px;
  right: 60px; }
  .soa-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .soa-nav a {
    display: block;
    text-decoration: none; }
  .soa-nav .nav-item {
    float: left;
    margin-right: 26px; }
  .soa-nav .first {
    font-family: 'Karla-Bold';
    font-size: 16px;
    padding: 6px 12px; }
    .soa-nav .first > a {
      position: relative; }
    .soa-nav .first > a::after {
      content: ' +';
      color: #fff;
      position: absolute;
      right: -14px; }
    .soa-nav .first:hover {
      background-color: #fff; }
      .soa-nav .first:hover > a::after {
        content: ''; }
  .soa-nav .second {
    display: none;
    font-size: 14px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    padding: 8px 12px 4px 12px;
    margin-left: -12px; }
    .soa-nav .second li {
      margin-top: 5px;
      margin-bottom: 5px; }
  .soa-nav .third {
    font-family: 'Karla';
    font-size: 14px;
    margin-left: 15px;
    margin-top: -3px;
    margin-bottom: 7px; }
    .soa-nav .third li {
      margin-top: 2px;
      margin-bottom: 2px; }
  @media (max-width: 800px) {
    .soa-nav {
      display: none; } }

.soa-nav-mobile {
  z-index: 3;
  background-color: #fff;
  display: none;
  position: absolute;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 8px; }
  .soa-nav-mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 2.5; }
  .soa-nav-mobile a {
    display: block;
    color: #000;
    text-decoration: none; }

.nav-parent {
  padding: 2px 0; }
  .nav-parent::after {
    content: ' +'; }

.activated::after {
  content: ' -'; }

.hovered {
  background-color: #fff; }

.nav-child {
  display: none; }

.nav-level-1 {
  text-transform: uppercase;
  font-family: 'Karla-Bold'; }
  .nav-level-1:last-child {
    border-bottom: 1px solid #eee; }
  .nav-level-1 > li {
    border-top: 1px solid #eee;
    padding-left: 10px; }

ul .nav-level-2 {
  text-transform: capitalize;
  font-family: 'Karla-Bold';
  font-size: 15px; }
  ul .nav-level-2 > li {
    border-top: 1px solid #fff;
    margin-left: 20px;
    padding-left: 10px; }
  ul .nav-level-2 > li:last-of-type {
    margin-bottom: 10px; }

ul .nav-level-3 {
  text-transform: capitalize;
  font-family: 'Karla-Regular';
  padding-bottom: 6px;
  font-size: 15px; }
  ul .nav-level-3 > li {
    margin-left: 30px; }

@media (min-width: 600px) {
  .soa-nav-mobile {
    right: 0;
    width: 300px; } }
.hero-image {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  z-index: -1;
  background-color: #ccc;
  background-image: url("images/bg-1.jpg");
  background-size: cover; }

#hero-image-sandpoint {
  background-image: url("images/bg-sandpoint.jpg");
  height: calc(75% - 50px); }
  @media (min-width: 600px) {
    #hero-image-sandpoint {
      height: calc(100% - 50px); } }

.soa-logo {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 85px;
  width: 100px; }
  @media (min-width: 600px) {
    .soa-logo {
      top: 105px;
      left: 40px;
      width: 140px; } }
  @media (min-width: 800px) {
    .soa-logo {
      left: 85px; } }

.home-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(100vh - 160px);
  background-color: #fff;
  padding: 80px 10px 0; }
  @media (min-width: 600px) {
    .home-content {
      padding: 0 40px; } }
  @media (min-width: 800px) {
    .home-content {
      padding: 0 85px; } }

.features {
  position: absolute;
  top: 35px;
  left: 10px;
  color: #4b2e83;
  font-size: 20px;
  font-family: 'Karla-Bold'; }
  @media (min-width: 600px) {
    .features {
      left: 40px; } }
  @media (min-width: 800px) {
    .features {
      left: 85px; } }

.article-container {
  margin-bottom: 0;
  margin-top: 30px; }
  @media (min-width: 600px) {
    .article-container {
      padding: 60px 0 60px;
      margin-bottom: 30px; } }
  @media (min-width: 600px) {
    .article-container {
      width: calc((100% / 3) - 4%); } }
  @media (min-width: 1600px) {
    .article-container {
      width: calc((100% / 5) - 4%); } }
  .article-container article img {
    width: 100%; }
  .article-container article h3 {
    margin: 16px 0 4px; }
    .article-container article h3 a {
      text-decoration: none;
      border-bottom: 1px solid #d9d9d9; }
      .article-container article h3 a:hover {
        border-bottom: 1px solid #a93c96; }
  .article-container article p {
    line-height: 1.4; }

.article-1, .article-2, .article-3 {
  display: block; }

.article-4, .article-5, .article-6 {
  display: none; }

@media (min-width: 600px) {
  .article-1, .article-2, .article-3 {
    display: block; }

  .article-4, .article-5, .article-6 {
    display: none; } }
@media (min-width: 1600px) {
  .article-1, .article-2, .article-3, .article-4, .article-5 {
    display: block; }

  .article-6 {
    display: none; } }
.inner-content {
  position: relative;
  margin-top: calc(125px + 15vh);
  z-index: 2; }

.inner-content-main {
  box-sizing: border-box;
  border-top: 15px solid #000;
  background-color: #fff;
  padding: 0 10px 12px;
  margin-bottom: 8px; }
  @media (min-width: 600px) {
    .inner-content-main {
      margin-left: 40px;
      margin-right: 8px;
      float: left;
      width: calc(100% - 40px - 8px - 200px);
      max-width: 670px;
      padding: 0 20px 12px; } }
  @media (min-width: 800px) {
    .inner-content-main {
      margin-left: 85px;
      width: calc(100% - 85px - 8px - 300px);
      padding: 0 40px 12px; } }
  @media (min-width: 1000px) {
    .inner-content-main {
      width: calc(100% - 85px - 8px - 370px);
      padding: 0 60px 12px; } }
  @media (min-width: 1000px) {
    .inner-content-main p, .inner-content-main h2, .inner-content-main h3, .inner-content-main ul {
      font-size: 15px; } }

.breadcrumbs {
  width: calc(100% + 10px);
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  font-family: 'Karla-Bold';
  letter-spacing: 0.5px;
  padding: 14px 0; }
  @media (min-width: 600px) {
    .breadcrumbs {
      width: calc(100% + 20px); } }
  @media (min-width: 800px) {
    .breadcrumbs {
      width: calc(100% + 40px); } }
  @media (min-width: 1000px) {
    .breadcrumbs {
      width: calc(100% + 60px); } }
  .breadcrumbs a {
    text-decoration: none; }
  .breadcrumbs a:hover {
    text-decoration: underline; }

.breadcrumb-active {
  color: #4a2e83; }
  .breadcrumb-active:hover {
    color: #a93c96; }

@media (min-width: 600px) {
  .inner-content-sidebar {
    float: left; } }

.inner-content-nav {
  box-sizing: border-box;
  padding: 24px 10px 24px;
  background-color: #fff;
  margin-bottom: 8px; }
  .inner-content-nav h3 {
    color: #4a2e83;
    margin-top: 12px; }
  .inner-content-nav ul {
    list-style-type: none;
    line-height: 2;
    margin: 0;
    padding: 0;
    font-size: 14px; }
    @media (min-width: 800px) {
      .inner-content-nav ul {
        line-height: 1.5; } }
  @media (min-width: 600px) {
    .inner-content-nav {
      padding: 10px 20px 16px;
      background-color: rgba(255, 255, 255, 0.85);
      border-top: 15px solid #000;
      width: 200px; } }
  @media (min-width: 800px) {
    .inner-content-nav {
      padding: 10px 30px 16px;
      width: 300px; } }
  @media (min-width: 1000px) {
    .inner-content-nav {
      padding: 10px 40px 20px;
      width: 370px; } }

.inner-content-info {
  box-sizing: border-box;
  padding: 24px 10px 2px;
  background-color: #000;
  margin-bottom: 8px;
  color: #fff; }
  .inner-content-info a {
    color: #ccc; }
  @media (min-width: 600px) {
    .inner-content-info {
      width: 200px;
      padding: 24px 20px 2px; } }
  @media (min-width: 800px) {
    .inner-content-info {
      width: 300px;
      padding: 24px 30px 2px; } }
  @media (min-width: 1000px) {
    .inner-content-info {
      width: 370px;
      padding: 30px 40px 8px; } }

footer {
  clear: both;
  color: #ccc;
  padding: 80px 10px 80px;
  font-size: 12.5px;
  line-height: 1.5; }
  @media (min-width: 600px) {
    footer {
      padding: 80px 40px 80px; } }
  @media (min-width: 800px) {
    footer {
      padding: 80px 85px 80px; } }
  footer a {
    text-decoration: none;
    font-family: 'Karla-Bold';
    color: #ccc; }
  footer img {
    margin-right: 12px;
    opacity: 0.7; }
  footer div {
    padding-bottom: 80px;
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-right: 20px;
    box-sizing: border-box; }
    @media (min-width: 600px) {
      footer div {
        width: 50%; } }
    @media (min-width: 800px) {
      footer div {
        width: 25%;
        padding-bottom: 80px; } }

/*# sourceMappingURL=style.css.map */
