
$header-height-mobile: 50px;
$header-height-desktop: 60px;

$margin-mobile: 10px;
$margin-tablet: 40px;
$margin-desktop: 85px;

$inner-sidebar-width-small: 200px;
$inner-sidebar-width-medium: 300px;
$inner-sidebar-width-large: 370px;

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla/Karla-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

.clearfix { 
	content: "";
	display: table;
	clear: both;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0; 
	font-family: 'Karla', 'Helvetica', sans-serif;
	background-color: #333;
}

@import 'header';

@import 'menu';

@import 'hero';

@import 'content-home';

@import 'content-inner-1';

@import 'footer';



